.a-label {
  color: $color-granite;
  cursor: pointer;
  display: block;
  font-size: em(13, 15);
  line-height: (16 / 13);
  margin-bottom: em(5, 13);
  padding: 0 em(10, 13);
  user-select: none;
}
