.o-footer-bottom {
  background: $color-white;
  text-align: center;

  .l-constrainer {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: em($footer-bottom-height-px, $font-size-regular-px);

    @include media-breakpoint-up(mobile) {
      justify-content: space-between;
      min-height: em($footer-bottom-height-mobile-px, $font-size-regular-px);
    }
  }
}
