@mixin font-regular {
  font-size: $font-size-regular;
  font-weight: $font-light;
  line-height: (26 / 15);

  @include media-breakpoint-up(wide) {
    font-size: $font-size-regular-xlarge;
  }

  @include media-breakpoint-up(ultra) {
    font-size: $font-size-regular-xxlarge;
  }
}

@mixin font-h3 {
  font-size: $font-size-h3;
  font-weight: $font-light;
  line-height: 1.2;
  margin: 0;

  @include media-breakpoint-up(mobile) {
    font-size: $font-size-h3-mobile-up;
  }
}

@mixin link {
  color: $color-black;
  text-decoration: underline;

  &:hover,
  &:focus {
    color: $color-red-125;
  }

  &:hover {
    cursor: pointer;
  }
}
