@mixin font-regular {
  font-size: $font-size-regular;
  font-weight: $font-normal;
  line-height: (26 / 15);

  @include media-breakpoint-up(wide) {
    font-size: $font-size-regular-xlarge;
  }

  @include media-breakpoint-up(ultra) {
    font-size: $font-size-regular-xxlarge;
  }
}

@mixin font-h3($line-height: 1.2) {
  font-size: $font-size-h3;
  font-weight: $font-light;
  line-height: $line-height;
  margin: 0;

  @include media-breakpoint-up(mobile) {
    font-size: $font-size-h3-mobile;
  }
}

@mixin link-hover-animation {
  color: $color-red-125;

  .a-arrows-cta {
    @include arrows-animation;
  }
}

@mixin link {
  cursor: pointer;
  color: $color-black;
  text-decoration: underline;

  @include hover {
    @include link-hover-animation();
  }

  &:focus {
    @include link-hover-animation();
  }
}
