.o-footer-sections {
  @include media-breakpoint-up(tablet) {
    @supports (display: grid) {
      display: grid;
      grid-gap: em(48, 15);
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr;
    }
  }
}
