.o-footer-sections {
  $grid-gap: em(48, 15);

  @include media-breakpoint-up(tablet) {
    display: grid;
    grid-columns: 1fr $grid-gap 1fr $grid-gap 1fr $grid-gap 1fr;
    grid-rows: 1fr;

    .m-footer-section {
      &:nth-of-type(1) {
        grid-column: 1;
        grid-rows: 1;
      }

      &:nth-of-type(2) {
        grid-column: 3;
        grid-rows: 1;
      }

      &:nth-of-type(3) {
        grid-column: 5;
        grid-rows: 1;
      }

      &:nth-of-type(4) {
        grid-column: 7;
        grid-rows: 1;
      }
    }

    @supports (display: grid) {
      display: grid;
      grid-gap: $grid-gap;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr;
    }
  }
}
