.a-footer-toggler {
  align-items: center;
  background: $color-cloud;
  border: 0;
  cursor: pointer;
  display: flex;
  height: em($footer-toggler-height-px, 15);
  justify-content: center;
  justify-content: center;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;

  @include hover-focus {
    .a-icon {
      color: $color-red-125;
      transform: scale(1.1);
    }
  }

  .a-icon {
    color: $color-iron;
    display: inline-block;
    height: em($footer-toggler-height-px, 15);
    pointer-events: none;
    transition: transform 0.3s ease;
    width: em($footer-toggler-height-px, 15);
  }

  &--active {
    @include hover-focus {
      .a-icon {
        transform: scale(1.1) rotate(180deg);
      }
    }

    .a-icon {
      transform: rotate(180deg);
    }
  }
}
