.m-teaser {
  background-color: $color-milk;
  display: block;
  height: 100%;
  position: relative;
  transition: background-color 225ms ease-in-out;

  @mixin hover-animation {
    background-color: $color-aluminum;
    color: $color-black;

    .a-img {
      &__image {
        transform: scale3d(1.07, 1.07, 1.07);
      }
    }
  }

  @include hover {
    @include hover-animation;
  }

  &__title {
    @include font-h3;
  }

  &__body {
    padding: em(24, 15) em(12, 15);
  }

  &__block-link {
    color: inherit !important;
    text-decoration: inherit !important;

    &::after {
      bottom: 0;
      content: '';
      display: block;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
    }
  }

  &__text {
    display: none;
  }

  .a-img {
    padding-top: 62.0155%;

    &__image {
      transform: scaleX(1);
      transition: transform 0.3s ease-out, opacity 0.35s ease-in;
    }
  }

  .a-link {
    margin-top: em(9, 15);
  }

  &--centered {
    text-align: center;
  }

  &--has-link {
    .m-teaser__body {
      padding-bottom: em(32, 15);
    }
  }

  &:focus-within {
    @include hover-animation;
  }

  @include media-breakpoint-up(mobile) {
    .m-teaser__body {
      padding: em(32, 15) em(24, 15);
    }

    &--has-link {
      .m-teaser__body {
        padding-bottom: em(104, 15);
      }
    }

    &__text {
      display: block;
    }

    .a-link {
      bottom: 3.2em;
      left: em(24, 15);
      margin-top: 0;
      position: absolute;
    }
  }

  @include media-breakpoint-up(tablet) {
    &--has-link {
      .m-teaser__body {
        &__body {
          padding-bottom: em(112, 15);
        }
      }
    }
  }
}
