.o-quiz-question {
  background-color: $color-milk;
  margin-bottom: rem(25);
  padding: rem(8);

  &--correct {
    .a-icon {
      color: $color-green;
    }
  }

  &--incorrect {
    .a-icon {
      color: $color-red;
    }
  }

  &__legend {
    display: flex;
    justify-content: space-between;
  }

  &__answers {
    @include no-bullets;

    li {
      margin-top: rem(8);
    }
  }
}
