.o-footer {
  &__sections-container {
    background: $color-cloud;

    @include media-breakpoint-up(tablet) {
      padding: em(80, 15) 0;
    }
  }

  &__sections {
    @include media-breakpoint-up(tablet) {
      @supports (display: grid) {
        display: grid;
        grid-gap: em(48, 15);
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
      }
    }
  }

  &__bottom {
    height: em(96, 15);
    width: 100%;
  }

  &--fixed {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    padding-top: em(40, 15);
  }

  &__footer-toggable {
    display: none;
    margin-top: -#{em(40, 15)};

    &--active {
      display: block;
    }
  }
}
