.o-footer {
  &__sections-container {
    background: $color-cloud;

    @include media-breakpoint-up(tablet) {
      padding: em(80, 15) 0;
    }
  }

  &--fixed {
    bottom: 0;
    display: flex;
    flex-direction: column;
    left: 0;
    max-height: 100vh;
    padding-top: em(40, 15) !important;
    position: fixed;
    right: 0;
  }

  &__footer-toggable {
    display: none;
    flex: 1 1 auto;
    overflow: auto;

    @include media-breakpoint-up(tablet) {
      margin-top: -#{em(40, 15)};
    }

    &--active {
      display: block;
    }
  }
}
