.a-link {
  @include link;

  &--footer {
    color: $color-granite;
    font-size: em(14, $footer-section-base-size);
    line-height: (21 / 14);

    .a-icon {
      color: currentColor !important;
    }
  }
}
