@import './mixins/global';
@import './mixins/typo';
@import './mixins/layout';
@import './mixins/arrows-cta';

@mixin check-radio {
  border: em(2, $font-size-regular-px) solid $color-aluminum;
  display: inline-block;
  height: em(20, $font-size-regular-px);
  position: relative;
  width: em(20, $font-size-regular-px);
}

@mixin check-radio-field {
  &,
  .a-label {
    align-items: center;
    display: flex;
  }

  &__input {
    @include hide-visually;
  }

  &__label {
    font-size: em($font-size-regular-px, $font-size-regular-px);
    line-height: line-height(26, $font-size-regular-px);
    margin: 0;
    padding: 0;
    position: relative;

    &::before {
      @include check-radio;

      border-radius: em(2, $font-size-regular-px);
      content: '';
      margin-right: em(8, $font-size-regular-px);
      position: relative;
      z-index: 0;
    }
  }

  &__input:checked + &__label {
    color: $color-black;
  }

  &__input:disabled + &__label {
    &::before {
      background-color: $color-milk;
    }
  }
}

@mixin accordion-btn-icons(
  $base-size,
  $base-size-mobile,
  $icon-color: $color-granite
) {
  .a-accordion-btn__icon-minus,
  .a-accordion-btn__icon-plus {
    color: $icon-color;
    height: em(24, $base-size);
    right: em(24, $base-size);
    transition: border-color 0.3s ease-out, border-color 0.3s ease-out;
    width: em(24, $base-size);

    .a-icon {
      height: (16 / strip-unit($base-size)) * 100%;
      width: (16 / strip-unit($base-size)) * 100%;
    }

    @include media-breakpoint-up(mobile) {
      height: em(32, $base-size-mobile);
      right: em(32, $base-size-mobile);
      width: em(32, $base-size-mobile);
    }
  }
}
