$color-red: #eb0000;
$color-red-125: #c60018;
$color-white: #fff;
$color-milk: #f6f6f6;
$color-cloud: #e5e5e5;
$color-silver: #dcdcdc;
$color-aluminum: #d2d2d2;
$color-platinum: #cdcdcd;
$color-graphite: #b7b7b7;
$color-storm: #a8a8a8;
$color-metal: #767676;
$color-granite: #686868;
$color-iron: #444;
$color-black: #000;

/* stylelint-disable */
:export {
  colorAluminum: $color-aluminum;
  colorGranite: $color-granite;
  colorGraphite: $color-graphite;
  colorMetal: $color-metal;
  colorRed: $color-red;
  colorRed125: $color-red-125;
  colorWhite: $color-white;
}
/* stylelint-enable */
