$font-size-h1: em(28, 15);
$font-size-h1-mobile: em(30, 15);
$font-size-h1-tablet: em(40, 15);

$font-size-h2: rem(24);
$font-size-h2-large: rem(40);

$font-size-h3: rem(20);
$font-size-h3-large: rem(30);

$font-size-h4: rem(16);
$font-size-h4-large: rem(20);

$font-size-regular: rem(15);
$font-size-regular-xlarge: rem(23);
$font-size-regular-xxlarge: rem(30);
