.a-table {
  overflow: auto;
  width: 100%;

  &__table {
    background-color: $color-white;
    border: rem(1) solid $color-cloud;
    border-spacing: 0;
    padding-bottom: 1.0667em;
  }

  &__thead {
    background-color: $color-cloud;
  }

  &__th {
    &:first-child {
      border-left: $color-cloud solid 1.0667em;
    }

    &:last-child {
      border-right: $color-cloud solid 1.0667em;
    }
  }

  &__td {
    font-weight: 400;

    &:first-child {
      border-left: $color-white solid 1.0667em;
    }

    &:last-child {
      border-right: $color-white solid 1.0667em;
    }
  }

  &__tr {
    &:nth-child(even) {
      background-color: $color-milk;
    }
  }

  &__td,
  &__th {
    line-height: (22 / 15);
    padding: em(19, 15) 0.8em;
  }

  &--align-center {
    text-align: center;
  }

  &--align-left {
    text-align: left;
  }

  &--align-right {
    text-align: right;
  }

  @include media-breakpoint-up(mobile) {
    &__td,
    &__th {
      padding-left: 1.0667em;
      padding-right: 1.0667em;
    }
  }
}
