@viewport {
  width: auto;
}

html {
  box-sizing: border-box;
  font-size: 100%;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

* {
  &,
  &::after,
  &::before {
    box-sizing: inherit;
  }
}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  @include font-regular;
  background-color: $color-white;
  color: $color-black;
  font-family: $font-primary;
}

figure {
  margin: 0;
}

::placeholder {
  color: $color-storm;
}

::selection {
  background-color: $color-red;
  color: $color-white;
}

abbr {
  text-decoration: none;
}
