.m-quiz-answer {

  background-color: $color-milk;
  border-bottom: 2px solid $color-white;

  &__text,
  &__field {
    padding: rem(8);
  }

  &__field {
    background-color: $color-white;
    padding-bottom: 0;
  }

  /* stylelint-disable */
  .m-checkbox__input:disabled + .m-checkbox__label,
  .m-radio-button__input:disabled + .m-radio-button__label {
    &::before {
      background-color: $color-white;
    }

    &::after {
      background-color: $color-red;
    }

    .a-icon {
      color: $color-red;
    }
  }
  /* stylelint-enable */

  &--correct {
    border-color: $color-green;
  }

  &--incorrect {
    border-color: $color-red;
  }
}
