.m-btn-group {

  @include media-breakpoint-up(mobile) {
    .a-btn + .a-btn {
      margin-left: em(24, $font-size-regular-px);
      margin-top: 0;
    }
  }

  .a-btn + .a-btn {
    margin-top: em(24, $font-size-regular-px);
  }
}
