.m-btn-group {
  .a-btn + .a-btn {
    margin-top: em(24, $font-size-regular-px);
  }

  @include media-breakpoint-up(mobile) {
    .a-btn + .a-btn {
      margin-top: 0;
      margin-left: em(24, $font-size-regular-px);
    }
  }
}
