/* stylelint-disable */
.sb-show-main {
  #root {
    > .l-grid {
      .l-col {
        background-color: #ccc;
        padding: 1rem;
        text-align: center;
      }
    }

    > .a-icon {
      height: 2.25rem;
      width: 2.25rem;
    }

    .m-teaser {
      @media (min-width: 40.1875em) {
        max-width: 30rem;
      }

      @media (min-width: 64.0625em) {
        max-width: 24.125rem;
      }
    }

    .a-accordion-btn {
      display: block;
    }

    .m-footer-section .a-accordion-btn {
      @media (min-width: 64.0625em) {
        display: none;
      }
    }
  }
}
/* stylelint-enable */
