/* stylelint-disable */
.sb-show-main {
  #root {
    > .l-grid {
      .l-col {
        background-color: #ccc;
        padding: 1rem;
        text-align: center;
      }
    }

    > .a-icon {
      height: 2.25rem;
      width: 2.25rem;
    }
  }
}
/* stylelint-enable */
