.a-checkbox {
  @include check-radio;
  border-radius: 2px;
  color: $color-red;

  .a-icon {
    display: none;
    height: rem(16);
    transform: translateY(-2px);
    width: rem(16);
  }

  &--checked {
    .a-icon {
      display: inherit;
    }
  }
}
