$button-min-width: rem(60);
$button-padding-x: em(40, 15);
$button-arrow-padding-x: em(66, 15);
$button-arrow-position-x: em(10, 15);
$button-arrow-hover-position-x: em(36, 15);

.a-btn {
  background-color: $color-silver;
  border: em(1, 15) solid $color-silver;
  border-radius: em(2, 15);
  color: $color-iron;
  cursor: pointer;
  display: inline-block;
  min-width: $button-min-width;
  overflow: hidden;
  padding: em(10, 15) $button-padding-x;
  position: relative;
  text-decoration: none !important;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;

  @include media-breakpoint-up(mobile) {
    width: auto;
  }

  > .a-icon {
    margin-top: em(12, 15) * -1;
    position: absolute;
    top: 50%;
  }

  &--primary {
    background-color: $color-red;
    border-color: $color-red;
    color: $color-white;

    @mixin hover-animation() {
      background-color: $color-red-125;
      border-color: $color-red-125;
      color: $color-white;
    }

    @include hover {
      @include hover-animation;
    }

    &:focus {
      @include hover-animation;
    }
  }

  &--search {
    @extend .a-btn--primary;
    border-radius: 0;
    height: 100%;
    min-width: auto;
    padding: 0;
    width: 100%;

    > .a-icon {
      left: 50%;
      margin-left: em(12, 15) * -1;
    }
  }

  &--arrows {
    @mixin hover-animation {
      padding-left: $button-arrow-padding-x;
      padding-right: $button-padding-x;

      > .a-icon {
        opacity: 0;

        &:first-child {
          opacity: 1;
        }
      }
    }

    padding-right: $button-arrow-padding-x;
    position: relative;
    transition: background-color $arrow-animation-duration
      $arrow-animation-easing,
      border-color $arrow-animation-duration $arrow-animation-easing,
      padding-left $arrow-animation-duration $arrow-animation-easing,
      padding-right $arrow-animation-duration $arrow-animation-easing;

    > .a-icon {
      transition: opacity $arrow-animation-duration $arrow-animation-easing;

      &:last-child {
        margin-left: em(6, 15);
        opacity: 1;
      }

      &:first-child {
        margin-left: em(30, 15) * -1;
        opacity: 0;
      }
    }

    .no-touchdevice & {
      @include hover {
        @include hover-animation;
      }
    }

    &:focus {
      @include hover-animation;
    }
  }

  &--footer {
    background-color: $color-granite;
    border-color: $color-granite;
    color: $color-white;
    display: block;
    width: 100%;

    @mixin hover-animation() {
      background-color: $color-red-125;
      border-color: $color-red-125;
      color: $color-white;
    }

    @include hover {
      @include hover-animation;
    }

    &:focus {
      @include hover-animation;
    }
  }
}
