$grid-gutter: 30px;

.l-grid {
  @include grid-fallback($grid-gutter);

  @for $i from 2 through 4 {
    &--#{$i} {
      @include grid-fallback-cols($i, $grid-gutter);
    }
  }
}

@supports (display: grid) {
  .l-grid {
    grid-gap: $grid-gutter;

    grid-template-rows: auto;
    margin-bottom: 0;
    transform: none;
    @include media-breakpoint-up(medium) {
      display: grid;
    }

    .l-col {
      width: 100%;
    }

    @for $i from 2 through 4 {
      &--#{$i} {
        grid-template-columns: repeat($i, 1fr);
      }
    }
  }

  .l-col {
    grid-column: auto;
    grid-row: auto;
    margin: 0;
  }

  @for $i from 2 through 4 {
    .l-col--#{$i} {
      grid-column: auto / span #{$i};
    }
  }
}
