$offset-curve: (
  zero: rem(15),
  micro: rem(15),
  small: rem(15),
  medium: rem(28),
  wide: 0,
  ultra: 0,
);

$max-width-curve: (
  zero: calc(100% - 2 * #{map-get($offset-curve, 'zero')}),
  micro: calc(100% - 2 * #{map-get($offset-curve, 'micro')}),
  small: calc(100% - 2 * #{map-get($offset-curve, 'small')}),
  medium: calc(100% - 2 * #{map-get($offset-curve, 'medium')}),
  wide: rem(1134),
  ultra: rem(1248),
);

@mixin constrainer {
  margin-left: auto;
  margin-right: auto;
  max-width: map-get($max-width-curve, 'zero');
  width: 100%;

  @include media-breakpoint-up(micro) {
    max-width: map-get($max-width-curve, 'micro');
    // background-color: lightblue;
  }

  @include media-breakpoint-up(small) {
    max-width: map-get($max-width-curve, 'small');
    // background-color: lightcoral;
  }

  @include media-breakpoint-up(medium) {
    max-width: map-get($max-width-curve, 'medium');
    // background-color: lightgreen;
  }

  @include media-breakpoint-up(wide) {
    max-width: map-get($max-width-curve, 'wide');
    // background-color: lightpink;
  }

  @include media-breakpoint-up(ultra) {
    max-width: map-get($max-width-curve, 'ultra');
    // background-color: lightskyblue;
  }
}

$max-width-curve-full: (
  zero: 100%,
  ultra: rem(2500),
);

@mixin max-width-curve-full {
  margin-left: auto;
  margin-right: auto;
  max-width: map-get($max-width-curve-full, 'zero');
  width: 100%;

  @include media-breakpoint-up(ultra) {
    max-width: map-get($max-width-curve-full, 'ultra');
    // background-color: lightskyblue;
  }
}

.l-constrainer {
  @include constrainer;

  .l-constrainer {
    max-width: 100%;
  }

  > {
    h1,
    h2,
    h3,
    h4,
    p {
      width: col-width(3, 4);
    }
  }

  .l-constrainer {
    h1,
    h2,
    h3,
    h4,
    p {
      width: 100%;
    }
  }
}

.l-constrainer-full {
  @include max-width-curve-full;
}

.l-divider-medium {
  margin-bottom: em(36, 15);

  @include media-breakpoint-up(mobile) {
    margin-bottom: em(48, 15);
  }

  @include media-breakpoint-up(tablet) {
    margin-bottom: em(48, 15);
  }
}

.l-divider-big {
  margin-bottom: em(48, 15);

  @include media-breakpoint-up(mobile) {
    margin-bottom: em(72, 15);
  }

  @include media-breakpoint-up(tablet) {
    margin-bottom: em(96, 15);
  }
}
