.a-arrow-link {
  $padding-x: em(30, 15);
  $arrow-padding-x: em(40, 15);
  $arrow-position-x: em(10, 15);

  @mixin hover-animation {
    color: $color-red-125;
    padding-left: $arrow-padding-x;
    padding-right: $padding-x;

    > .a-icon {
      opacity: 0;

      &:first-child {
        opacity: 1;
      }
    }
  }

  display: inline-block;
  position: relative;
  padding-right: $arrow-padding-x;
  transition: color $arrow-animation-duration $arrow-animation-easing,
    padding-left $arrow-animation-duration $arrow-animation-easing,
    padding-right $arrow-animation-duration $arrow-animation-easing;

  > .a-icon {
    position: absolute;
    top: -#{em(1, 15)};
    transition: opacity $arrow-animation-duration $arrow-animation-easing;

    &:last-child {
      margin-left: em(6, 15);
      opacity: 1;
    }

    &:first-child {
      margin-left: em(30, 15) * -1;
      opacity: 0;
    }
  }

  .no-touchdevice & {
    @include hover {
      @include hover-animation;
    }
  }

  &:focus {
    @include hover-animation;
  }
}
