.a-accordion-panel {
  &--closed {
    display: none;
  }

  &--footer {
    display: none;

    @include media-breakpoint-up(tablet) {
      display: block !important;
      height: auto !important;
    }
  }
}
