.a-accordion-panel {
  display: none;

  &--active {
    display: block;
  }

  &--footer {
    @include media-breakpoint-up(tablet) {
      display: block !important;
      height: auto !important;
    }
  }
}
