.a-img {
  position: relative;
  display: block;
  width: 100%;
  padding-top: $aspect-ratio-16-9;
  overflow: hidden;

  &__image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &--ratio-1-3 {
    padding-top: $aspect-ratio-1-3;
  }
}
