.a-radiobutton {
  @include check-radio;
  border-radius: 50%;

  &--checked {
    &::before {
      background-color: $color-red;
      border: 2px solid $color-white;
      border-radius: 50%;
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  &--disabled.a-radiobutton--checked::before {
    background-color: $color-granite;
  }
}
