.m-footer-section {
  border-top: rem(1) solid $color-platinum;
  color: $color-granite;
  font-size: em($footer-section-base-size, 15);

  &__title {
    display: none;
  }

  &:first-child {
    border-top: 0;
  }

  &__body {
    padding: em(16, $footer-section-base-size) em(24, $footer-section-base-size)
      em(36, $footer-section-base-size);

    > *:first-child {
      margin-top: 0;
    }
  }

  .m-social-links {
    margin-top: em(24, $footer-section-base-size);
  }

  @include media-breakpoint-up(mobile) {
    &__body {
      padding-left: em(48, $footer-section-base-size);
      padding-right: em(48, $footer-section-base-size);
    }
  }

  @include media-breakpoint-up(tablet) {
    border-top: 0;

    &__title {
      border-bottom: rem(1) solid $color-platinum;
      display: block;
      font-size: em(16, $footer-section-base-size);
      line-height: (19 / 16);
      margin-bottom: em(24, 16);
      padding-bottom: em(24, 16);
    }

    &__body {
      padding: 0;
    }
  }
}
