.a-btn {
  &--to-top {
    background: rgba($color-white, 0.75);
    border: 0;
    color: $color-metal;
    padding: 0;
    will-change: color;

    > .a-icon {
      height: em(42, 15);
      margin: 0;
      position: static;
      width: em(42, 15);
    }

    &:hover,
    &:focus {
      color: $color-red;
    }
  }
}
