.m-link-list {
  @include no-bullets;

  &--footer {
    .m-link-list__item + .m-link-list__item {
      margin-top: em(8, $footer-section-base-size);
    }
  }

  &--footer-bottom {
    align-items: center;
    display: flex;
    justify-content: space-between;

    @include media-breakpoint-up(mobile) {
      flex: 1 1 auto;
      justify-content: flex-end;
    }

    li {
      margin-left: em(48, $font-size-regular-px);

      &:first-child {
        margin-left: 0;
      }
    }
  }
}
